@import "tailwindcss";

@theme {
  --color-primary: #1D4ED8;
  --color-slate-text: #475569;
  --color-light-gray: #F1F5F9;
  --font-sans: "Inter", sans-serif;
}

@source "./**/*.html";
@source "./index.html";
